@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Sora:wght@400;500;600;700;800&display=swap');

.predict-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.predict-section .predict-heading {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
}

.predict-description {
    text-align: center;
    width: 70rem;
    font-size: 1.5rem;
    color: #6C87AE;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.terms-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.terms-cards-content {
    display: flex;
    width: 55rem;
    height: 6.5rem;
    align-items: center;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 2.5rem;
}

.terms-cards-content img {
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-left: 2rem;
}

.terms-cards-content p {
    color: #6C87AE;
    font-family: Sora;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    margin: 0 auto;
}

.des .icon-size {
    width: 1.5rem;
    height: 1.5rem;
}

.font-size {
    font-size: 1.4rem;
    padding-left: 10px;
    color: #6C87AE;
    font-weight: 400;
    margin-bottom: 5rem;
}

.terms-cards a {
    text-decoration: none;
    display: inline-flex;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 6.25rem;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
}

.terms-cards a:hover {
    color: #fff;
}

/* ===== Patient Information ===== */

.predict-des {
    margin: 0 auto;
    width: 80rem;
    height: 44rem;
    border-radius: 1rem;
    background: #EAF2FD;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.predict-description-card {
    display: flex;
    gap: 11.2rem;
    padding: 5rem 4rem;
}

.predict-cards h3 {
    color: #000;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 2.5rem;
}

.predict-cards input {
    display: flex;
    width: 21.25rem;
    font-size: 1.2rem;
    font-weight: 400;
    height: 3rem;
    padding: 1.5rem;
    border-radius: 0.375rem;
}

.dropdown-btn {
    display: flex;
    gap: 5.1rem;
    margin-top: 2.5rem;
}

.dropdown-btn input {
    display: flex;
    width: 6.5rem;
    height: 3rem;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.375rem;
}

.personal-info {
    /* Patient info */
    color: #000;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    padding-top: 5rem;
}

.personal-info .info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1.2rem;
}

.personal-info .info .check-info {
    margin-left: 6.5rem;
}

.personal-info .info .check-info-smoke {
    margin-left: 4.7rem;
}

.personal-info .info .check-info-cholesterol {
    margin-left: 2rem;
}

.personal-info .info .check-info-hypertension {
    margin-left: 4.1rem;
}

/* Back and Next Button */
.predict-des .predict-info-btn {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.predict-info-btn .back-btn {
    display: inline-flex;
    padding: 1rem 2rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 6.25rem;
    background: #FFF;
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    font-family: Sora;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.predict-info-btn .next-btn {
    display: inline-flex;
    padding: 1rem 2rem;
    align-items: flex-start;
    color: #fff;
    gap: 0.625rem;
    border-radius: 6.25rem;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    font-family: Sora;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

/* ======== Select Symptoms ======= */
.symptoms {
    padding: 5rem 4rem;
}

.patient_symptom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.patient_symptom h3 {
    color: #000;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
}

.patient_symptom button {
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    border-radius: 6.25rem;
    border: 1px solid #3A8EF6;
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    font-family: Sora;
    font-size: 1.3rem;
    font-weight: 600;
    background: transparent;
    color: #3A8EF6;
}

.symptoms input {   
    color: #ADB5BD;
    font-size: 1.2rem;
    padding: 1.4rem 1.5rem;
    text-align: center;
    font-weight: 400;
    width: 8rem;
    height: 3.5rem;
    border-radius: 0.375rem;
    border: 1px solid #DEE2E6;
    background: #FFF;
    margin-bottom: 2.2rem;
    margin: 1rem;
}