.predict-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.predict-section .predict-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
}

.predict-description {
    text-align: center;
    width: 70rem;
    font-size: 1.5rem;
    color: #6C87AE;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.terms-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.terms-cards-content {
    display: flex;
    width: 55rem;
    height: 6.5rem;
    align-items: center;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 2.5rem;
}

.terms-cards-content img {
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-left: 2rem;
}

.terms-cards-content p {
    color: #6C87AE;
    font-family: Sora;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    margin: 0 auto;
}

.des .icon-size {
    width: 1.5rem;
    height: 1.5rem;
}

.font-size {
    font-size: 1.4rem;
    padding-left: 10px;
    color: #6C87AE;
    font-weight: 400;
    margin-bottom: 5rem;
}

.terms-cards a {
    text-decoration: none;
    display: inline-flex;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 6.25rem;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
}

.terms-cards a:hover {
    color: #fff;
}

/* ===== Patient Information ===== */

/* ==== Help ==== */
.help {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    place-content: center;
}

.help-cards {
    position: relative;
}

.blue-cards {
    width: 100rem;
    height: 15.5rem;
    background: var(--gradient-bp, linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%));
    top: -50px;
}

.help-cards .form-cards {
    width: 90%;
    height: 40rem;
    border-radius: 1rem;
    background: #EAF2FD;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
}